<!DOCTYPE html>
<html>
    <head>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script>
        <script type="text/javascript">
    
            function ajaxCall() {
                var searchOptions = document.getElementById("searchOptionsId");
                var glidValue = document.getElementById("glidInput").value;
                var glSegmentValue = document.getElementById("glSegmentInput").value;
                var glDescriptionValue = document.getElementById("glDescriptionInput").value;
                var glidHistoryValue = document.getElementById("glidHistoryInput").value;
                var glidStartDateValue = document.getElementById("glidStartDateInput").value;
                var glidEndDateValue = document.getElementById("glidEndDateInput").value;
                var glidPrefixValue = document.getElementById("glidPrefixInput").value;
                
                if(searchOptions.value === "glid") {
                    if(glidValue == "" || glidValue == null) {
                        alert("Please enter valid Input");
                        return;
                    }
                    if(glidValue && !/^[0-9%]+$/.test(glidValue)){
                        alert("Only numbers are allowed for Reason Code");
                        return;
                    }
                }
                if(searchOptions.value === "glidSegment") {
                    if(glSegmentValue == "" || glSegmentValue == null) {
                        alert("Please enter valid Input");
                        return;
                    }
                }
                if(searchOptions.value === "glidDescription") {
                    if(glDescriptionValue == "" || glDescriptionValue == null) {
                        alert("Please enter valid Input");
                        return;
                    }
                }
                if(searchOptions.value === "glidHistory") {
                    if(glidHistoryValue == "" || glidHistoryValue == null || glidStartDateValue == "" || glidStartDateValue == null || glidEndDateValue == "" || glidEndDateValue == null) {
                        alert("Please enter valid Input");
                        return;
                    }
                    if(glidHistoryValue && !/^[0-9%]+$/.test(glidHistoryValue)){
                        alert("Only numbers are allowed for GLID");
                        return;
                    }
                }
                if(searchOptions.value === "glidPrefix") {
                    
                    if(glidPrefixValue == "" || glidPrefixValue == null) {
                        alert("Please enter valid Input");
                        return;
                    }
                    if(glidPrefixValue && !/^[0-9%]+$/.test(glidPrefixValue)){
                        alert("Only numbers are allowed for Reason Code");
                        return;
                    }
                }
               
                
            $.ajax({
                    type: "POST",
                    url: "http://10.166.4.65:8001/BillingCareAPI/glCodeMaintenanceSearch",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        glCode : glidValue,
                        glSegment : glSegmentValue,
                        glPrefix : glidPrefixValue,
                        glDescription : glDescriptionValue,
                        glHistory:glidHistoryValue,
                        glStartDate: glidStartDateValue,
                        glEndDate:glidEndDateValue
                    }),
                    processData: false,
                   // beforeSend: function (xhr) {
                   //   util.setRequestHeader(xhr)
                   // },
                    dataType: "json",
  
                // Function to call when to process response in case of request is ok 
                success: function (data) {
                    console.log(data); 

                var customers = new Array();
                customers.push(["GL Segment","Created Date","Modified Date","GL Description","GLID","Attribute","Order Id","Code","GL Account","String","Code","Account Code","Status"]);
                    
                // Dynamic Table Start
                    
                //Create a HTML Table element.
                var table = document.createElement("TABLE");
                table.setAttribute("id", "dynamicTableId")
                table.border = "1";
        
                console.log(customers);
                //Get the count of columns.
                var columnCount = customers[0].length;
                console.log("columnCount.."+columnCount);
                //Add the header row.
                var row = table.insertRow(-1);
                for (var i = 0; i < columnCount; i++) {
                    var headerCell = document.createElement("TH");
                    headerCell.innerHTML = customers[0][i];
                    row.appendChild(headerCell);
                }
            
                    if (data.results && data.results.length) {
                        for (var i = 0; i < data.results.length; i++) {
                            customers.push([data.results[i].glSegment,data.results[i].createdDate,data.results[i].modifiedDate,data.results[i].glDescription,data.results[i].glid,data.results[i].attributeName,data.results[i].orderId,data.results[i].code,data.results[i].glAccount,data.results[i].stringValue,data.results[i].codeString,data.results[i].accountCode,data.results[i].status]);
                        }

                        //Add the data rows.
                        for (var i = 1; i < customers.length; i++) {
                            row = table.insertRow(-1);
                            for (var j = 0; j < columnCount; j++) {
                                var cell = row.insertCell(-1);
                                cell.innerHTML = customers[i][j];
                            }
                        }

                        var dynamicTable = document.getElementById("dynamicTable");
                        dynamicTable.innerHTML = "";
                        dynamicTable.appendChild(table);
                        dynamicTable.style.display="";
                        var exportIdButton = document.getElementById("exportId");
                        exportIdButton.style.display="";
                        var noDataMessage = document.getElementById("noDataMessage");
                        noDataMessage.style.display="none";
                        var errorLabel = document.getElementById("dynamicErrorLabel");
                        errorLabel.style.display="none";
                    } else if(data.results && data.results.length == 0) {
                        var dynamicTableObj = document.getElementById("dynamicTable");
                        dynamicTableObj.style.display="none";
                        var noDataMessage = document.getElementById("noDataMessage");
                        noDataMessage.style.display="";
                        var errorLabel = document.getElementById("dynamicErrorLabel");
                        errorLabel.style.display="none";
                    }
                },
  
                // Error handling 
                error: function (error) {
                    console.log("ERROR Response::"+error);
                    if(error.responseJSON && error.responseJSON.errorCode && error.responseJSON.errorDescription) {
                       var errorLabel = document.getElementById("dynamicErrorLabel");
                        errorLabel.innerHTML=error.responseJSON.errorDescription;
                        errorLabel.style.display="";
                        if(error.responseJSON.results && error.responseJSON.results.length == 0) {
                            var dynamicTableObj = document.getElementById("dynamicTable");
                            dynamicTableObj.style.display="none";
                            var noDataMessage = document.getElementById("noDataMessage");
                            noDataMessage.style.display="none";
                        }
                    }
                }
            });
        }
    
    
    function changeDisplay() {
        var searchOptions = document.getElementById("searchOptionsId");
        var glidLabel = document.getElementById("glidLabel");
        var glidInput = document.getElementById("glidInput");
        
        var glidSegmentLabel = document.getElementById("glidSegmentLabel");
        var glSegmentInput = document.getElementById("glSegmentInput");
        
        var glDescriptionLabel = document.getElementById("glDescriptionLabel");
        var glDescriptionInput = document.getElementById("glDescriptionInput");
        
        var glidHistoryLabel = document.getElementById("glidHistoryLabel");
        var glidHistoryInput = document.getElementById("glidHistoryInput");
        
        var glidStartDateLabel = document.getElementById("glidStartDateLabel");
        var glidStartDateInput = document.getElementById("glidStartDateInput");
        
        var glidEndDateLabel = document.getElementById("glidEndDateLabel");
        var glidEndDateInput = document.getElementById("glidEndDateInput");
        
        var glidPrefixLabel = document.getElementById("glidPrefixLabel");
        var glidPrefixInput = document.getElementById("glidPrefixInput");
       
        
        glidInput.value = "";
        glSegmentInput.value ="";
        glDescriptionInput.value = "";
        glidHistoryInput.value = "";
        glidStartDateInput.value = "";
        glidEndDateInput.value = "";
        glidPrefixInput.value = "";
        
        
          //Update this to your logic...
          if(searchOptions.value === "glid") {
            glidLabel.style.display="";
            glidInput.style.display="";
            
            glidSegmentLabel.style.display = 'none';
            glSegmentInput.style.display = 'none';
            
            glDescriptionLabel.style.display = 'none';
            glDescriptionInput.style.display = 'none';
            
            glidHistoryLabel.style.display = 'none';
            glidHistoryInput.style.display = 'none';
            
            glidStartDateLabel.style.display = 'none';
            glidStartDateInput.style.display = 'none';
            
            glidEndDateLabel.style.display = 'none';
            glidEndDateInput.style.display = 'none';
            
            glidPrefixLabel.style.display = 'none';
            glidPrefixInput.style.display = 'none';
          }
          
          if(searchOptions.value === "glidSegment") {
            glidLabel.style.display="none";
            glidInput.style.display="none";
            
            glidSegmentLabel.style.display = '';
            glSegmentInput.style.display = '';
            
            glDescriptionLabel.style.display = 'none';
            glDescriptionInput.style.display = 'none';
            
            glidHistoryLabel.style.display = 'none';
            glidHistoryInput.style.display = 'none';
            
            glidStartDateLabel.style.display = 'none';
            glidStartDateInput.style.display = 'none';
            
            glidEndDateLabel.style.display = 'none';
            glidEndDateInput.style.display = 'none';
            
            glidPrefixLabel.style.display = 'none';
            glidPrefixInput.style.display = 'none';
          }
          
          if(searchOptions.value === "glidDescription") {
            glidLabel.style.display="none";
            glidInput.style.display="none";
            
            glidSegmentLabel.style.display = 'none';
            glSegmentInput.style.display = 'none';
            
            glDescriptionLabel.style.display = '';
            glDescriptionInput.style.display = '';
            
            glidHistoryLabel.style.display = 'none';
            glidHistoryInput.style.display = 'none';
            
            glidStartDateLabel.style.display = 'none';
            glidStartDateInput.style.display = 'none';
            
            glidEndDateLabel.style.display = 'none';
            glidEndDateInput.style.display = 'none';
            
            glidPrefixLabel.style.display = 'none';
            glidPrefixInput.style.display = 'none';
          }
          
          if(searchOptions.value === "glidHistory") {
            glidLabel.style.display="none";
            glidInput.style.display="none";
            
            glidSegmentLabel.style.display = 'none';
            glSegmentInput.style.display = 'none';
            
            glDescriptionLabel.style.display = 'none';
            glDescriptionInput.style.display = 'none';
            
            glidHistoryLabel.style.display = '';
            glidHistoryInput.style.display = '';
            
            glidStartDateLabel.style.display = '';
            glidStartDateInput.style.display = '';
            
            glidEndDateLabel.style.display = '';
            glidEndDateInput.style.display = '';
            
            glidPrefixLabel.style.display = 'none';
            glidPrefixInput.style.display = 'none';
          }
          
          if(searchOptions.value === "glidPrefix") {
            glidLabel.style.display="none";
            glidInput.style.display="none";
            
            glidSegmentLabel.style.display = 'none';
            glSegmentInput.style.display = 'none';
            
            glDescriptionLabel.style.display = 'none';
            glDescriptionInput.style.display = 'none';
            
            glidHistoryLabel.style.display = 'none';
            glidHistoryInput.style.display = 'none';
            
            glidStartDateLabel.style.display = 'none';
            glidStartDateInput.style.display = 'none';
            
            glidEndDateLabel.style.display = 'none';
            glidEndDateInput.style.display = 'none';
            
            glidPrefixLabel.style.display = '';
            glidPrefixInput.style.display = '';
          }
          
          if(searchOptions.value === "glid" || searchOptions.value === "glidSegment" || searchOptions.value === "glidDescription" || searchOptions.value === "glidHistory" || searchOptions.value === "glidPrefix") {
            searchId.style.display = "";
            cancelId.style.display = "";
            exitId.style.display = "";
            exportId.style.display = "";
          }
          
          if(searchOptions.value === "0") {
            searchId.style.display = "none";
            cancelId.style.display = "none";
            exitId.style.display = "none";
            exportId.style.display = "none";
            glidLabel.style.display = 'none';
            glidInput.style.display = 'none';
            glidSegmentLabel.style.display = 'none';
            glSegmentInput.style.display = 'none';
            glDescriptionLabel.style.display = 'none';
            glDescriptionInput.style.display = 'none';
            glidHistoryLabel.style.display = 'none';
            glidHistoryInput.style.display = 'none';
            glidStartDateLabel.style.display = 'none';
            glidStartDateInput.style.display = 'none';
            glidEndDateLabel.style.display = 'none';
            glidEndDateInput.style.display = 'none';
            glidPrefixLabel.style.display = 'none';
            glidPrefixInput.style.display = 'none';
          }
    }
        
        
        function search() { 
            ajaxCall();
        }
        
        function cancel() {
        var searchOptions = document.getElementById("searchOptionsId");
        
        var glidLabel = document.getElementById("glidLabel");
        var glidInput = document.getElementById("glidInput");
        
        var glidSegmentLabel = document.getElementById("glidSegmentLabel");
        var glSegmentInput = document.getElementById("glSegmentInput");
        
        var glDescriptionLabel = document.getElementById("glDescriptionLabel");
        var glDescriptionInput = document.getElementById("glDescriptionInput");
        
        var glidHistoryLabel = document.getElementById("glidHistoryLabel");
        var glidHistoryInput = document.getElementById("glidHistoryInput");
        
        var glidStartDateLabel = document.getElementById("glidStartDateLabel");
        var glidStartDateInput = document.getElementById("glidStartDateInput");
        
        var glidEndDateLabel = document.getElementById("glidEndDateLabel");
        var glidEndDateInput = document.getElementById("glidEndDateInput");
        
        var glidPrefixLabel = document.getElementById("glidPrefixLabel");
        var glidPrefixInput = document.getElementById("glidPrefixInput");
        
            searchId.style.display = "none";
            cancelId.style.display = "none";
            exitId.style.display = "none";
            exportId.style.display = "none";
            glidLabel.style.display = 'none';
            glidInput.style.display = 'none';
            glidSegmentLabel.style.display = 'none';
            glSegmentInput.style.display = 'none';
            glDescriptionLabel.style.display = 'none';
            glDescriptionInput.style.display = 'none';
            glidHistoryLabel.style.display = 'none';
            glidHistoryInput.style.display = 'none';
            glidHistoryLabel.style.display = 'none';
            glidStartDateLabel.style.display = 'none';
            glidStartDateInput.style.display = 'none';
            glidEndDateLabel.style.display = 'none';
            glidEndDateInput.style.display = 'none';
            glidPrefixLabel.style.display = 'none';
            glidPrefixInput.style.display = 'none';
            searchOptions.value = "0"
            
            var dataTable = document.getElementById("dynamicTable");
            dataTable.innerHTML = "";
            dataTable.style.display = 'none';
            exitButtonDTId.style.display = "none";
            searchButtonDTId.style.display = "none";
            exportDTId.style.display = "none";
            noDataMessage.style.display="none";
            
        }
        
        function displayEnquiryOptions() {
            var selectFunctionId = document.getElementById("selectFunctionId");
            var enquiryTd = document.getElementById("enquiryTd");
            var enquiryOptionsTd = document.getElementById("enquiryOptionsTd");
             var enquiryOptionsTd = document.getElementById("enquiryOptionsTd");
              var deleteTd = document.getElementById("deleteTd");
             
             if(selectFunctionId.value === '0') {
               enquiryTd.style.display = "none";
               enquiryOptionsTd.style.display = "none";
               deleteTd.style.display = "none";
            }
            if(selectFunctionId.value === 'enquiry') {
               enquiryTd.style.display = "";
            }
            if(selectFunctionId.value === 'delete') {
               enquiryTd.style.display = "none";
               enquiryOptionsTd.style.display = "none";
               deleteTd.style.display = "";
            }
        }
        
        function exportToExcel(tableID, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
    
            // Specify file name
            filename = filename?filename+'.xls':'excel_data.xls';
    
            // Create download link element
            downloadLink = document.createElement("a");
    
            document.body.appendChild(downloadLink);
    
            if(navigator.msSaveOrOpenBlob){
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob( blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                // Setting the file name
                downloadLink.download = filename;

                //triggering the function
                downloadLink.click();
            }
        }
        
         function screenExit() {
            cancel();
            window.history.back();
        }
        
        </script>
        
    </head>
<body>
<form id="GLCodeEnquiry" name="GLCodeEnquiryForm" autocomplete="off">
    <br>
    <center>  <h1><u>GL Maintenance</u></h1> </center>  <br><br>
    <center>
    <table border = "1" width = "35%" cellpadding="1" cellspacing="0" bordercolor = "#00A2E8" bgcolor = "white" align="center">
        <tr align="center">
             <td>
                <label>Select Function :</label>
                <select name="selectFunction" id="selectFunctionId" onchange="displayEnquiryOptions()">
                  <option value="0">Select Function</option>
                  <option value="enquiry">Enquiry</option>
                  <option value="delete">Delete</option>
                </select>
             </td>
         </tr> 
         
         <tr align="center">
             <td id="deleteTd" style="display: none">
                <label id="glidDeleteLabel">GLID :</label>
                <input type="text" name="glid" id="glidDeleteInput"/><br/>
             </td>
         </tr>
        
         <tr align="center">
             <td id="enquiryTd" style="display: none">
                <label>Search :</label>
                <select name="searchOptions" id="searchOptionsId" onchange="changeDisplay()">
                  <option value="0">Select Enquiry Options</option>
                  <option value="glid">GL ID</option>
                  <option value="glidSegment">GL Segment</option>
                  <option value="glidDescription">GL Description</option>
                  <option value="glidHistory">GL ID History</option>
                  <option value="glidPrefix">GLID Prefix</option>
                </select>
             </td>
         </tr>
         <tr align="center">
             <td id="enquiryOptionsTd"><br/><br/><br/>
                <label id="glidLabel" style="display: none">GLID :</label>
                <input type="text" name="glid" id="glidInput" style="display: none"/><br/>
                
                <label id="glidSegmentLabel" style="display: none">GL Segment :</label>
                <input type="text" name="glSegment" id="glSegmentInput" style="display: none"/><br/>
                
                <label id="glDescriptionLabel" style="display: none">GL Description : </label>
                <input type="text" name="glDescription" id="glDescriptionInput" style="display: none"/><br/>
                
                <label id="glidHistoryLabel" style="display: none">GLID History : </label>
                <input type="text" name="glidHistory" id="glidHistoryInput" style="display: none"/><br/>
                
                <label id="glidStartDateLabel" style="display: none">GLID StartDate : </label>
                <input type="text" name="glidStartDate" id="glidStartDateInput" style="display: none"/><br/>
                
                <label id="glidEndDateLabel" style="display: none">GLID EndDate : </label>
                <input type="text" name="glidEndDate" id="glidEndDateInput" style="display: none"/><br/>
                
                <label id="glidPrefixLabel" style="display: none">GLIDPrefix : </label>
                <input type="text" name="glidPrefix" id="glidPrefixInput" style="display: none"/><br/>
                
                <br/><br/>
                
               <input type="button" value="Search" id="searchId" style="display: none;background-color: #00A2E8;border-color:black" onclick='search();'/>
               <input type="button" value="Cancel" id="cancelId" style="display: none;background-color: #00A2E8;border-color:black" onclick='cancel();'/>
               <input type="button" value="Exit" id="exitId" style="display: none;background-color: #00A2E8;border-color:black" onclick='screenExit();'/>
               <input type="button" value="Export" id="exportId" style="display: none;background-color: #00A2E8;border-color:black" onclick="exportToExcel('dynamicTableId','glidSearchResults');"/>
             </td>
         </tr>
        <tr align="center">
                 <br/><br/>
                  <td><label id="dynamicErrorLabel" style="display: none;font-size:12px;color:red"></label></td>
                  <td><label id="noDataMessage" style="display: none;font-size:12px;color:red"> No Data Found !!!</label></td>
        </tr>
    </table> </center>
    
<br/><br/><br/>

<!-- Dynamic Table -->

<center><div id="dynamicTable" style="overflow:scroll;overflow-x:hidden;height:200px;border-top-color: #00A2E8;border-right-color: #00A2E8;border-bottom-color: #00A2E8;border-left-color: #00A2E8;"></div></center>



</form>

</body>
</html>